.login-wall
{
    margin-top: 20px;
    padding: 40px 40px 40px 40px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin
{
    min-width: 380px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}

.form-signin .form-control
{
    position: relative;
    font-size: 14px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus
{
    z-index: 2;
}

.profile-img
{
	width: 250px;
	margin: 0 auto 10px;
	display: block;
}

.titulo 
{
	display: block;
	text-align:center;
}

.form label 
{
	margin-top: 1em;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px;}
.fa-fw {width: 2em;}


.label-fijo {
    display: inline-block;   
    width: 100px !important;
    border:1px solid;
    margin-right: 1em;
}

.label-verde
{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.label-amarillo
{
    color: #fff;
    background-color: #f0ad4e !important;
    border-color: #eea236;
}


.label-rojo 
{
    color: #fff;
    background-color: #d9534f !important;
    border-color: #d43f3a;
}


.label-azul 
{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.label-gris 
{
    color: #fff;
    background-color: #777;
    border-color: #ccd;
}


.label-blanco 
{
    color: #333;
    background-color: #fff !important;
    border-color: #ccc;
}

.label-blanco > span {
    color: #333;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }

  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    overflow: scroll;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    margin-top:;
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 100%;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}

.btn-fixed {
  width: 110px;
}

.btn-group-form {
  margin-top: 5px;
}

.btn-glyphicon {
  position: relative;
  background: transparent;
  border: none;
  padding: 0px;
  display: inline-block;
}

.btn-glyphicon:hover > span{
  color: #428bca;
}
